<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SplitWise</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">login</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>


<div class="container">
    <div class="row text-center">
        <!--for all small devices & devices larger then this, keep column size 6 & move to right by 3 columns & display, keep padding 4 -->
        <div class="col-sm-6 offset-sm-3 p-4" style="border: ridge;">
            <h2>Password Reset</h2>
            <p>Enter your new password</p>

            <form #savePasswordForm="ngForm" (ngSubmit)="savePassword()">
                <div class="form-group">
                    <input type="password" id="inputPassword" name="password" #password1="ngModel"
                        [(ngModel)]="password" class="form-control" placeholder="Enter Password" minlength="8"
                        required />
                </div>
                <!--If control value is valid or has not changed-->
                <div [hidden]="password1.valid || password1.pristine" class="alert alert-danger">
                    <div *ngIf="password1.errors?.minlength">
                        ** Password should contain atleast 8 characters!
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" id="inputConfirmPassword" name="confirmPassword" #password2="ngModel"
                        [(ngModel)]="confirmPassword" class="form-control" placeholder="Re-enter Password" minlength="8"
                        required>
                </div><br>
                <!--Displaying alret message if both the password doesn't match-->
                <div [hidden]="password2.pristine || password==confirmPassword" class="alert alert-danger">
                    <div *ngIf="password!=confirmPassword">
                        ** Password is not same as entered above!
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit" [disabled]="!savePasswordForm.form.valid">Save
                    Password</button>
            </form>
            <br>
        </div>
    </div>
</div>