<div class="container">
    <div class="row text-center">
        <!--for all small devices & devices larger then this, keep column size 5, & display at the center, keep padding 4 -->
        <div class="col-sm-5 p-4 mx-auto" style="margin-top: 20vh; border: ridge;"><br>
            <div>
                <h1> <span style="color:red">Oops!</span></h1>
                <small>This is not good!</small>
            </div><br>
            <div>
                <h4> Internal server Error!</h4>
                <h6> <span style="color:red">Error 500 :-( </span> </h6>
            </div>
            <br>
            <button class="btn btn-success" type="button" (click)="goToSignIn()">Go To Login Page</button>
            <br><br>
        </div>
    </div>
</div>